<!-- Display database data -->
{% for item in items %}
  <h1> Brevet info - {{ item.brevet_dist }} km,  {{ item.start_time }} start</h1>
  <p> Control Dist - {{ item.control_dist }} <p>
  <p> open time - {{ item.open }} <p>
  <p> close time - {{ item.close }} <p>
{% endfor %}

<!-- Add link back to brevet calculator -->
<p><a href="/">back to calculator</a></p>
